* @broadinstitute/devnull

# Add your team as codeowners to files you own so that you can modify them
# without BITS approval. List your workflows explicitly; do not use wildcards
# here. BITS should proofread new templates before they are visible to the
# entire organization. After that, maintenance is self-serve.
#
# The codeowner should be a group, not an individual user, to ensure continuity
# of maintenance through personnel turnover.
/workflow-templates/bits-example.yml             @broadinstitute/devnull
/workflow-templates/bits-example.properties.json @broadinstitute/devnull
/workflow-templates/bican-mccarroll-r-package.yml @broadinstitute/bican-mccarroll-admin
/workflow-templates/bican-mccarroll-r-package.properties.json @broadinstitute/bican-mccarroll-admin
/workflow-templates/bican-mccarroll-python-package.yml @broadinstitute/bican-mccarroll-admin
/workflow-templates/bican-mccarroll-python-package.properties.json @broadinstitute/bican-mccarroll-admin
/workflow-templates/bican-mccarroll-roxygen.yml @broadinstitute/bican-mccarroll-admin
/workflow-templates/bican-mccarroll-roxygen.properties.json @broadinstitute/bican-mccarroll-admin
